* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none
}

body {
    overflow: hidden;
    padding: 10px;
}

.grid {
    display: grid;
    width: 100%;
    height: 97vh;
    grid-template-columns: 1fr 5fr 0.7fr;
    grid-template-rows: 1fr minmax(auto, 10fr) 1fr;
    grid-template-areas: 
    'icon search category'
    'info info info'
    'recent . save';
    gap: 10px;
}

.icon {
    grid-area: icon;
    border: 2px solid black;
}

.search {
    grid-area: search;
    border: 2px solid black;
}

.category {
    grid-area: category;
    border: 2px solid black;
}

.info {
    grid-area: info;
    border: 2px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto minmax(auto, 1fr);
    grid-template-areas: 
    'title img'
    'subtitle tag'
    'content content';
}

.title {
    grid-area: title;
    font-size: 2rem;
    field-sizing: content;
    border: 0;
    outline: none;
}

.subtitle {
    grid-area: subtitle;
    font-size: 1.5rem;
    field-sizing: content;
    border: 0;
    outline: none;
}

.content {
    grid-area: content;
    font-size: 1rem;
    border: 0;
    outline: none;
}

.img_container {
    grid-area: img;
    text-align: right;
    align-content: center;
}

#img_add {
    display: none;
}

.img {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: gray;
    color: black;
    border-radius: 5px;
}

.tag {
    grid-area: tag;
    width: 50%;
    left: 50%;
}

.recent {
    grid-area: recent;
    text-align: center;
    align-content: center;
    cursor: pointer;
    border: 2px solid black;
}

.save {
    grid-area: save;
    text-align: center;
    align-content: center;
    cursor: pointer;
    border: 2px solid black;
}